{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
<div class="container">
    <div class="top_menu_bar">
      <div class="alert_icon">
          <img src="../../static/weather/assets/alertIcon.jpg" />
      </div>
      <div class="page_title">
        <p>
          My Courses
        </p>
      </div>
      <div class="lookup_icon">
       <img src="../../static/weather/assets/lookupIcon.png" />
      </div>
      <div class="setting_icon">
        <img src="../../static/weather/assets/settingIcon.png" />
      </div>  
    </div>
    <div class="main_content">
      <div class="placeholder">
      </div>
    </div>
    <div class="bottom_menu">
		  <a href="/weather/forecast/" class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true"><img height=30px width=30px src="../../static/weather/assets/bottom1.png" /></a>
      <a href="/weather/forecast/alert/" class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true"><img height=30px width=30px src="../../static/weather/assets/bottom2.png" /></a>
      <a href="/weather/comparison/" class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true"><img height=30px width=30px src="../../static/weather/assets/bottom3.png" /></a>
      <a href="/weather/comparison/alert/" class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true"><img height=30px width=30px src="../../static/weather/assets/bottom4.png" /></a>
      <a href="/weather/comparison/alert/" class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true"><img height=30px width=30px src="../../static/weather/assets/bottom5.png" /></a>
    </div>
  </div>
</body>
</html>
